# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.python-version

!*.md
!*.py
!prompts/
prompts/*
!prompts/README.md
!slopcord/
!slopcord/*.py

!Dockerfile
!config-example.yaml
!docker-compose.yaml
!pyproject.toml
!tools.yaml
!uv.lock
